body {
    font-family: 'Maitree', serif;
    text-align: center;
    margin: 0;    
}

.header {
    background-image: url("images/intro.jpg");
    background-size: cover;
    background-position: center;
    height: 370px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
}

.town-title {
    background: #293131;
    color: #ffffff;
    padding: 4px 12px 4px 12px;
    border: 1px solid #AA727A;
    border-radius: 10px;
    margin-bottom: 0;
}

.town-desc {
    background: #2C4932;
    color: #ffffff;
    padding: 4px 15px 4px 15px;
    border: 1px solid #AA727A;
    border-radius: 10px;
    margin-top: 15px;
    max-width: 400px;
}

.activity-main {
    background: #f1dad6;
    padding: 32px;
    display: flex;
    flex-direction: column;
    color: #293131;
}

.activities {
    display: flex;
    justify-content: space-around;
    margin: 8px auto;
}

.acts img {
    width: 98px;
    border-radius: 50%;
    border: 2px solid #2C4932;
}

.acts img:hover {
    border: 3px solid #579162;
    transform: scale(1.2);
    transition: transform 350ms, border 100ms;
    cursor: pointer;
    
}


.acts {
    padding: 8px;
    max-width: 320px;
}


/* utility */

.font-16 {
    font-size: 16;
}

.font-24 {
    font-size: 24;
}