body {
    font-family: 'Maitree', serif;
    text-align: center;
    margin: 0;
    
}



.header {
    background-image: url("images/intro.jpg");
    background-size: cover;
    background-position: center;
    height: 370px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 1px black;
}

.town-title {
    background: #293131;
    color: #ffffff;
    padding: 4px 12px 4px 12px;
    border: 1px solid #AA727A;
    border-radius: 10px;
    margin-bottom: 0;
}

.town-desc {
    background: #2C4932;
    color: #ffffff;
    padding: 4px 15px 4px 15px;
    border: 1px solid #AA727A;
    border-radius: 10px;
    margin-top: 15px;
    max-width: 400px;
}

.activity {
    margin-top: 0;
    background: #8680AE;
}